
body{
  margin : 0;
  text-align: center;
  font-style: bold;
  font-family: sans-serif;
}

h1 {
   margin-top: 0;
   font-style: italic;
   color: #f4f6ff;
}

.back{
    background-color: #184d47
}

a{
  color: #e5dfdf;
}

h3{
  color: #dbdbdb;
}


.about-me{
  background-color: #184d47;
    line-height: 2;
}


.HOBBIES{
  background-color:#184d47;
}
.HOBBIES-row{
  background-color:#184d47;
}

.myself{
  background-color: #184d47;
    line-height: 2;
}
.contact-me{
   background-color: #184d47;
}
.bottom-container{
  background-color: #184d47;
}
.contact-me{
   color: #dddddd;
}


.btn {
	box-shadow: 4px 6px 11px 3px #000000;
	background-color:#d93030;
	border-radius:29px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:19px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
}
.btn:hover {
	background-color:#a32727;
}
.btn:active {
	position:relative;
	top:1px;
}
