
body{
  margin : 0;
}

h1 {
   margin-top: 0;
}
hr {
background-color: white;
border-style: dotted none none;
border-color: grey;
border-width: 5px;
height: 0px;
width: 10%;
}

.top-container{
  background-color: #a8e6cf;
}

.HOBBIES{
  background-color: #dcedc1;
}
.HOBBIES-row{
  background-color: #d4f3ef;
}

.myself{
  background-color: #ffd3b6;
}
.bottom-container{
   background-color: #ed6663;
}
.contact-me{
   background-color: #abedd8;
}

body{
  margin : 0;
}

h1 {
   margin-top: 0;
}
hr {
background-color: white;
border-style: dotted none none;
border-color: grey;
border-width: 5px;
height: 0px;
width: 10%;
}

.top-container{
  background-color: #a8e6cf;
}

.HOBBIES{
  background-color: #dcedc1;
}
.HOBBIES-row{
  background-color: #d4f3ef;
}

.myself{
  background-color: #ffd3b6;
}
.bottom-container{
   background-color: #ed6663;
}
.contact-me{
   background-color: #abedd8;
}
